<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page.</h1>

    <h2>{{lst}}</h2>
    <h2>{{ lst | join:" - " }}</h2>
    <h2>{{ date | date:"D d M Y" }}</h2>
    <h2>{{ val | add:"5" }}</h2>
    <h2>{{ cap | capfirst }}</h2>
    <h2>{{ str | cut:" " }}</h2>
    <h2>{{ lst1 | dictsort:"name" }}</h2>
    <h2>{{ lst2 | first }}</h2>
    <h2>{{ lst2 | last }}</h2>
    <h2>{{ lst2 | length }}</h2>
    <h2>{{ lst2 | linenumbers }}.</h2>
    <h2>{{ name | lower }}</h2>
    <h2>{{ name | upper }}</h2>
    <h2>{{ sent | title }}</h2>
    <h2>{{ lst2 | random }}</h2>
    <h2>{{ lst2 | slice:":2" }}</h2>
    <h2>{{ str1 | truncatechars:13}}</h2>
    <h2>{{ str1 | wordcount }}</h2>
    <h2>{{ str1 | truncatewords:3 }}</h2>
    <h2> {{ cap | make_list }}</h2>

</body>
</html>